body {
    animation: colorchange 0.3s infinite;
    -webkit-animation: colorchange 0.5s infinite;
}

 @keyframes colorchange {
      0%   {background: #aaff01;}
      25%  {background: #ffaa01;}
      50%  {background: #ff00aa;}
      75%  {background: #aa00ff;}
      100% {background: #00aaff;}
    }
    
@-webkit-keyframes colorchange {
     0%   {background: #aaff01;}
      25%  {background: #ffaa01;}
      50%  {background: #ff00aa;}
      75%  {background: #aa00ff;}
      100% {background: #00aaff;}
}

