img {
    width: 200px;
}

body {
    text-align: center;
    font-family: sans-serif;
    font-size: 1.5em;
    text-decoration: none;
}

.link {
    color: white;
}

.header {
    color:white;
    text-decoration: underline
}

.poem {
    text-align: center;
    line-height: 0;
}

