.button {
    text-align: center;
    font-family: sans-serif;
    font-size: 1.5em;
    text-decoration: none;
}

#onii {
    width: 100px;
    height: 100px;
    border-radius: 150px;
    border-color: black;
    
}

body {
    background: url(http://66.media.tumblr.com/59955409b74bcad14280aa65105bd2f1/tumblr_nkehshVUT31rnyizho1_500.jpg)
}
