
.skeltal {
    -webkit-animation: blink 1s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: blink 1s;
    -moz-animation-iteration-count: infinite;
    -o-animation: blink 1s;
    -o-animation-iteration-count: infinite;
    }
    
    @keyframes blink {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

body {
    background: url(http://i.imgur.com/P2b68MM.jpg);
    background-size:1380px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: large;
    
}

.colored{
    animation: color-change 3s infinite;
}


@keyframes color-change {
    0% { color: red; }
    15% { color: orange; }
    30% { color: yellow; }
    45% { color: green; }
    60% { color: blue; }
    75% { color: purple; }
    100% { color: violet; }
    
}