body {
    padding-top: 5em;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.5em;
    text-decoration: none;
    background: url(http://rs137.pbsrc.com/albums/q210/neoncrew/clannad/sunoharameimoe.gif~c200)
}

#onii {
    width: 100px;
    height: 100px;
    border-radius: 150px;
    border-color: black;
    background-color: purple;
    color: Black;
    
}