body {
    background: url("https://media.giphy.com/media/EVRRs3YlbT4ti/giphy.gif");
    background-size:cover;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: large;
}

h1 {
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: cyan;
   font-size: 300%;
   overflow-x:-webkit-marquee;
    -webkit-marquee-direction: backwards;
    -webkit-marquee-style: scroll;
    -webkit-marquee-speed: fast;
    -webkit-marquee-increment: small;
    -webkit-marquee-repetition: infinite;
}

